@import 'variables';

@mixin menu-icon {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  padding: 60px 0 0px;
  line-height: 140px;
  overflow: hidden;
  margin: 0;  
  
  &:before {
    content: " ";
    display: block;
    padding: 0;
    width: 78px;
    height: 67px;
    position: absolute;
    top: -70px;
    left: 35%;
    transition: all 200ms ease;
    opacity: 0.0;
  }
  
    &:hover {
        &:before {
          top: 20%;
          left: 50%;
          transform: translate(-50%, -20%);
          text-decoration: none;
          opacity: 1.0;
        }
      }
}

/*Border Radius*/
@mixin border-radius {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  position: absolute;
  opacity:0;
  
  img {
    max-width: 100%;
    width: 100%;
  }
}

/*Social Icons*/
@mixin social-icons {
  display: block;
  width: 20px;
  height: 18px;
}

/*Button*/
@mixin button {
  width: 250px;
  height: 50px;
  border: $button-grey 1px solid;
  color: $darkest-grey;
  text-align: center;
  display: block;
  font: 18px/50px 'open_sansregular';
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@mixin half-bg {
  background: linear-gradient(
    to right, 
    #e2e3e7 0%, 
    #e2e3e7 50%, 
    #ffffff 50%, 
    #ffffff 100%
  );
  height: 100%;
  width: 100%;
}

/*Serices Image*/
@mixin service-img {
  margin: 0 auto 50px;
}

/*Our Process*/
@mixin process-block {
  width: 44%;
    border: $dark-blue 2px solid;
    padding: 28px;
    margin-bottom: 58px;
    position: relative;
    font-size: $font-size-16;
}

@mixin heading {
    text-align: left;
    font:24px/30px 'open_sansextrabold';
    color: $white-color;
    text-transform: uppercase;
  }
@mixin process-icon {
  position: absolute;
  top: 28%;
  width: 100px;
  height: 100px;
}

@mixin process-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@mixin our-work {
  position: relative;
  z-index: 2;
  margin-bottom: 60px;
}

@mixin captionimg {
  background: $red;
  width: 400px;
  height: 260px;
  color: $white-color;
  padding: 25px;
  position: absolute;
}