<div class="menu-block">

</div>

<div class="header">
	<div class="site-logo">
		Innoraft
	</div>

	<div class="menu-button">
		<span class="top"></span>
		<span class="middle"></span>
		<span class="bottom"></span>
	</div>
</div>

<div class="item-main-block">
	<div class="item-block">
		<div class="projects inner-block">
			<img src="/themes/custom/mytheme/image/projects.jpg">
		</div>

		<div class="services inner-block">
			<img src="/themes/custom/mytheme/image/services.jpg">
		</div>

		<div class="blogs inner-block">
			<img src="/themes/custom/mytheme/image/blogs.jpg">
		</div>
	</div>

	<div class="item-info-block">
		<div class="projects info-block">
			<div class="title">
				Projects
			</div>

			<div class="description">
				abc abc  abc abc abc abc abc abc 
				abc abc abc abc abc abc abc abc 
				abc abc abc abc abc abc abc abc  
			</div>

			<div class="more-button">
				<span class="left"></span>
				<span class="middle"></span>
				<span class="right"></span>
			</div>
		</div>

		<div class="services info-block">
			<div class="title">
				Services
			</div>

			<div class="description">
				xyz xyz xyz xyz xyz xyz xyz xyz
				xyz xyz xyz xyz xyz xyz xyz xyz 
				xyz xyz xyz xyz xyz xyz xyz xyz 
			</div>

			<div class="more-button">
				<span class="left"></span>
				<span class="middle"></span>
				<span class="right"></span>
			</div>
		</div>

		<div class="blogs info-block">
			<div class="title">
				Blogs
			</div>

			<div class="description">
				pqr pqr pqr pqr pqr pqr pqr pqr pqr 
				pqr pqr pqr pqr pqr pqr pqr pqr pqr 
				pqr pqr pqr pqr pqr pqr pqr pqr pqr 
			</div>

			<div class="more-button">
				<span class="left"></span>
				<span class="middle"></span>
				<span class="right"></span>
			</div>
		</div>
	</div>

	<div class="item-slider">
		<div class="item-prev">
			<img src="/themes/custom/mytheme/image/up-arrow.png">
		</div>

		<div class="item-next">
			<img src="/themes/custom/mytheme/image/down-arrow.png">
		</div>
	</div>
</div>

<div class="about-site">
	<div class="title">
		About Innoraft
	</div>

	<div class="description">
		Innoraft provide web solution that make the web development process faster and easier. We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world.
	</div>
</div>