// Color section

$header-color: #324579;
$white: #ffffff;
$black: #000000;
$light-grey: #e2e3e7;
$base-font-color: #4b5561;
$service-bg-color: #3cb987;
$process-bg: #383659;
$process-color: #282640;
$work-description-bg: #f53d3d;
$testimonial-bg: #052641;
$grey: #272727;
$dark-grey: #151515;

// Social Media Color

$facebook: #3b5998;
$twitter: #00aeef;
$linkedin: #0077b5;
$dribble: #81ceff;
$github: #bd2c00;


$menu-color-1: #263366;
$menu-color-2: #f53d3d;
$menu-color-3: #041e34;
$menu-color-4: #3cb987;
$menu-color-5: #fc6308;
$menu-color-6: #282640;
$menu-color-7: #00569c;
$menu-color-8: #f0b707;





// Font size section

$font-size-10: 0.625rem;    // 10px
$font-size-12: 0.75rem;     // 12px
$font-size-14: 0.875rem;    // 14px
$font-size-15: 0.9375rem;   // 15px
$font-size-16: 1rem;        // 16px
$font-size-18: 1.125rem;    // 16px
$font-size-20: 1.25rem;     // 20px
$font-size-22: 1.375rem;    // 22px
$font-size-24: 1.50rem;     // 24px
$font-size-26: 1.625rem;    // 26px
$font-size-30: 1.875rem;     // 30px
$font-size-32: 2rem;        // 32px
$font-size-34: 2.125rem;    // 34px
$font-size-36: 2.25rem;     // 36px
$font-size-38: 2.375rem;    // 38px
$font-size-48: 3rem;      // 48px
$font-size-56: 3.5rem;      // 56px




// screen size section

$xlg:1440px;
$lg:1200px;
$md:992px;
$sm:767px;
$axs:635px;
$xs:480px;