// Importing Libraries.
@import 'partial/importer';

// Overriding bootstrap default width size.
.container {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

html {
  font-size: 14px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  max-width: 1200px;
}

/*Header*/
header {
  background: $header-blue;
  
  .logo {
    padding-top: 27px;
  }
}

h2 {
  font: 50px/50px 'open_sansbold';
  text-transform: uppercase;
  margin: 100px 0 0;
}
.subtitle {
  font: 36px/40px 'open_sanslight';
  text-transform: uppercase;
}
body {
  font: 16px/24px 'open_sansregular';
  color: $text-grey;
}
/*Main Navigation*/

.menu-outer:hover ~ .menu-close {
  margin-right:-100px;
}
.menu-outer:hover .bar { background:rgba(100,200,240,.9); }
.menu-outer > nav ul { top:15%; }

.menu-outer {
  overflow: hidden;
  position: fixed;
  top: 0;
  font-family: 'Montserrat', serif;
  z-index: 998;  
  width: 100%;
  left: 100%;
  margin-left: -100px;
  height: 200%;
  background: rgba(255,255,255,1);  
  
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; 
  
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-outer:hover {
  background: rgba(0,0,0,.5);
  left: 0;
  margin-left: 0;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-icon {
  z-index: 999;
  position: absolute;
  top: 68px;
  left: 22px;
  width: 20px;
  pointer-events: none;
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  
  .bar {
    background: $header-blue;
    width: 100%;
    height: 2px;
    margin: 0 0 3px;
    
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
}

.menu-outer:hover > .menu-icon {
  opacity: 0;
}
nav {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 70%;
  ul {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    text-align: center;
    li {
      display: inline-block;
      width: 24.5%;
      a {
        color: $white-color;
        font-size: $font-size-18;
        font-family: 'open_sansregular';
        &:hover {
          text-decoration: none;
        }
      }
      .home {
        @include menu-icon;
        background: $header-blue;
        &:before {
          background: url(../images/home-icon.png) no-repeat 0 0;
        }
      }
      .approach {
        @include menu-icon;
        background: $red;
        &:before {
          background: url(../images/approach.png) no-repeat 0 0;
        }
      }
      .services {
        @include menu-icon;
        background: #041e34;
        &:before {
          background: url(../images/services.png) no-repeat 0 0;
        }
      }
      .work {
        @include menu-icon;
        background: $section-green;
        &:before {
          background: url(../images/work.png) no-repeat 0 0;
        }
      }
      .study {
        @include menu-icon;
        background: $orange;
        &:before {
          background: url(../images/case.png) no-repeat 0 0;
        }
      }
      .about {
        @include menu-icon;
        background: $dark-blue;
        &:before {
          background: url(../images/about.png) no-repeat 0 0;
        }
      }
      .contact {
        @include menu-icon;
        background: $sky-blue;
        &:before {
          background: url(../images/contact.png) no-repeat 0 0;
        }
      }
      .block {
        @include menu-icon;
        background: $yellow;
        &:before {
          background: url(../images/block.png) no-repeat 0 0;
        }
      }
    }
  }
}
.menu-outer:hover > nav ul {
  left: 0;
}
nav {
  li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    a {
      font-size: 2em;
      color: rgba(255, 255, 255, .8);
      text-decoration: none;
      margin: 0 auto;
      padding: 20px;
      display: block;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -ms-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  nav ul {font-size:.75em;}
  nav ul a {padding: 10px;}
}
/*Menu Close*/
.menu-close {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 100%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  .menu-icon {
    right: 15px;
    left: auto;
    top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .bar {
    background: $header-blue;
    width: 100%;
    height: 3px;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    
    &:first-child {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    &:last-child {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

/*Header*/
h1 {
    font-size: 50px;
    line-height: 50px;
    color: $white-color;
    font-family: 'latolight';
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 210px;
    padding-left: 100px;
  
  span {
    clear: both;
    display: block;
    font-family: 'latobold';
  }
} 

.sub-heading {
  font-family: 'open_sanslight';
  font-size:$font-size-22;
  color: $white-color;
  padding-left: 100px;
}

.left-tagline {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  font-family: 'open_sansregular';
  font-size: $font-size-16;
  color: $white-color;
  position: absolute;
  left: 0;
  bottom: 105px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.drupal-circle {
  @include border-radius;
  width: 230px;
  height: 230px;
  left:130px;
  top: 0;
}

.html-circle {
  @include border-radius;
  width: 210px;
  height: 210px;
  left: 54px;
  top: 240px;
}
.jquery-circle {
  @include border-radius;
  width: 140px;
  height: 140px;
  left:230px;
  top: 410px;
  
}
.inno-circle {
  @include border-radius;
  width: 280px;
  height: 280px;
  left: 310px;
  top: 160px;
}

/*Social Icons*/
.social-icons {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 30px;
  
  li{
    margin: 0 0 17px;
    a {
      width: 18px;
      display: block;
      transition: all 200ms ease;
    }
    .twitter {
        background: url(../images/twitter-icon.png) no-repeat 0 0;
        @include social-icons;
      
        &:hover {
          background: url(../images/twitter-icon.png) no-repeat 0 -17px;
          @include social-icons;
        }
      }
    
    .fb {
        background: url(../images/fb-icon.png) no-repeat 0 0;
        @include social-icons;
      
        &:hover {
          background: url(../images/fb-icon.png) no-repeat 0 -19px;
          @include social-icons;
        }
      }
    
    .in {
        background: url(../images/in-icon.png) no-repeat 0 0;
        @include social-icons;
        height: 16px;
      
        &:hover {
          background: url(../images/in-icon.png) no-repeat 0 -16px;
          @include social-icons;
          height: 16px;
        }
      }
    .git {
        background: url(../images/git-icon.png) no-repeat 0 0;
        @include social-icons;
      
        &:hover {
          background: url(../images/git-icon.png) no-repeat 0 -19px;
          @include social-icons;
        }
      }
    
  }
}

/*About Us Section*/

.about-us {
  h2 {
    color: $black-color;
    margin-bottom: 35px;
  }
  .subtitle {
    color: $black-color;
    margin-bottom: 25px;
    margin-top: 66px;
  }
  .button {
    @include button;
    margin-top: 25px;
    
      &:hover {
        background-color: $button-grey;
        color: $white-color;
        text-decoration: none;
    }
  }
  .about-img-block {
    @include half-bg;
    padding: 88px 0 38px 160px;
    
    .about-img {
      width: 95%;
      img {
        width: 100%;
      }
    }
  }
}

/*Our Services*/
.our-services {
  background: $section-green;
  
  h2 {
    color: $white-color;
    margin-bottom: 95px;
  }
  .sti-menu{
	width:100%;
	position:relative;
	margin:60px auto 0 auto;
}
.sti-menu li{
	float:left;
	width:22.4%;
	height:300px;
	margin:1px;
    border: #fff 4px solid;
    margin: 0 15px;
  
  @media screen and(max-width:$md){
    width: 21.8%;
    margin: 0 10px;
  }
  
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background: #3cb987;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
}
.sti-menu li a h2{
	font:30px/32px 'open_sanscondensed_light';
    color: $white-color;
	text-transform:uppercase;
	position:absolute;
	width:30px;
	top:30px;
	left:30px;
    margin: 0;
  span {
        background: url(../images/triangle.png) no-repeat 0 -22px;
        display: block;
        width: 28px;
        height: 22px;
      } 
}
.sti-menu li a h3{
	font-family: 'open_sansregular';
	font-size: $font-size-24;
    text-transform: uppercase;
	color: #fff;
	position:absolute;
	bottom:20px;
	left:30px;
	width:180px;
    text-align: left;
}
.sti-icon{
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	top: 85px;
    left:70px;
   
}
.sti-icon-care{
	background-image:url(../images/strategy-img.png);
    width:100px;
	height:104px;
}
.sti-icon-alternative{
	background-image:url(../images/ui-img.png);
    width:120px;
	height:122px;
}
.sti-icon-family{
	background-image:url(../images/website-img.png);
    width:109px;
	height:104px;
}
.sti-icon-info{
	background-image:url(../images/seo-img.png);
    width: 105px;
    height: 105px;
}
}

/*Our Process*/
.our-process {
  background: $process-blue;
  color: $white-color;
  
  h2 {
    text-align: center;
  }
  
  h3 {
    font: 36px/40px 'open_sanslight';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .left-process {
    @include process-block;
    float: left;
    
    h4 {
      @include heading;
    }
  }

  .right-process {
    @include process-block;
    float: right;
    
    h4 {
      @include heading;
    }
  }
  .process-icons-right {
    @include process-icon;
    right: -65px;
    
    .processicon {
      position: absolute;
      left: 35px;
      top: 39px;
      z-index: 4;
      width: 30px;
      height: 30px;
    }
    
   .processimg {
      @include process-img;
    }
    .process-number {
      position: absolute;
      right: 8px;
      top: 5px;
      color: $dark-blue;
      font: 13px/16px 'open_sanscondensed_light';
      z-index: 4;
    }
  }
  .process-icons-left {
    @include process-icon;
    left: -74px;
    
     .processimg {
      @include process-img;
    }
    .processicon {
      position: absolute;
      right: 35px;
      top: 39px;
      z-index: 4;
      width: 30px;
      height: 30px;
    }
    
    .process-number {
      position: absolute;
      left: 11px;
      top: 5px;
      color: $dark-blue;
      font: 13px/16px 'open_sanscondensed_light';
      z-index: 4;
    }
  }
}

/*Our Work*/
.img-left {
  float: left;
  @include our-work;
  
  .img-content {
    @include captionimg;
    right: -25%;
    top: 25%;
    z-index: 4;
    
  }
}
  
.img-right {
  float: right;
  @include our-work;
  
  .img-content {
    @include captionimg;
    left: -25%;
    top: 25%;
    z-index: 4;
    
  }
}

.caption-heading {
  font:800 32px/40px 'open_sansregular';
  text-transform: uppercase;
  margin-bottom: 15px;
}

.button {
    @include button;
    margin-top: 25px;
    float: right;
  
      &:hover {
        background-color: $button-grey;
        color: $white-color;
        text-decoration: none;
    }
  }