// Importing Libraries.
@import 'partial/importer';

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// Overriding bootstrap default width size.
.container {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

html {
  font-size: 14px;
}
ul, li {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
}
.our-services {
  background: $section-green;
}
/*Header*/
header {
  background: $header-blue;
}

/*Main Navigation*/

.menu-outer:hover ~ .menu-close {
  margin-right:-100px;
}
.menu-outer:hover .bar { background:rgba(100,200,240,.9); }
.menu-outer > nav ul { top:15%; }

.menu-outer {
  overflow: hidden;
  position: fixed;
  top: 0;
  font-family: 'Montserrat', serif;
  z-index: 998;  
  width: 100%;
  left: 100%;
  margin-left: -100px;
  height: 200%;
  background: rgba(255,255,255,1);  
  
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; 
  
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-outer:hover {
  background: rgba(0,0,0,.5);
  left: 0;
  margin-left: 0;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-icon {
  z-index: 999;
  position: absolute;
  top: 68px;
  left: 22px;
  width: 20px;
  pointer-events: none;
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  
  .bar {
    background: $header-blue;
    width: 100%;
    height: 2px;
    margin: 0 0 3px;
    
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
}

.menu-outer:hover > .menu-icon {
  opacity: 0;
}
nav {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 80%;
  ul {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    text-align: center;
    li {
      display: inline-block;
      width: 24.5%;
      a {
        color: $white-color;
        font-size: $font-size-18;
        font-family: 'open_sansregular';
        &:hover {
          text-decoration: none;
        }
      }
      .home {
        @include menu-icon;
        background: $header-blue;
        &:before {
          background: url(../images/home-icon.png) no-repeat 0 0;
        }
      }
      .approach {
        @include menu-icon;
        background: $red;
        &:before {
          background: url(../images/approach.png) no-repeat 0 0;
        }
      }
      .services {
        @include menu-icon;
        background: #041e34;
        &:before {
          background: url(../images/services.png) no-repeat 0 0;
        }
      }
      .work {
        @include menu-icon;
        background: $section-green;
        &:before {
          background: url(../images/work.png) no-repeat 0 0;
        }
      }
      .study {
        @include menu-icon;
        background: $orange;
        &:before {
          background: url(../images/case.png) no-repeat 0 0;
        }
      }
      .about {
        @include menu-icon;
        background: $dark-blue;
        &:before {
          background: url(../images/about.png) no-repeat 0 0;
        }
      }
      .contact {
        @include menu-icon;
        background: $sky-blue;
        &:before {
          background: url(../images/contact.png) no-repeat 0 0;
        }
      }
      .block {
        @include menu-icon;
        background: $yellow;
        &:before {
          background: url(../images/block.png) no-repeat 0 0;
        }
      }
    }
  }
}
.menu-outer:hover > nav ul {
  left: 0;
}
nav {
  li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    a {
      font-size: 2em;
      color: rgba(255, 255, 255, .8);
      text-decoration: none;
      margin: 0 auto;
      padding: 20px;
      display: block;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -ms-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  nav ul {font-size:.75em;}
  nav ul a {padding: 10px;}
}
/*Menu Close*/
.menu-close {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 100%;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  .menu-icon {
    right: 15px;
    left: auto;
    top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .bar {
    background: $header-blue;
    width: 100%;
    height: 3px;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    
    &:first-child {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    &:last-child {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
 

